In [1]:
Data_Nilai = [
		{
        "Student_Number" : "101",
        "Nama" : "Andri",
        "Subject" : "Programming Basic",
        "Grade" : 80
    },
		{
        "Student_Number" : "102",
        "Nama" : "Budi",
        "Subject" : "Programming Basic",
        "Grade" : 90
    },
		{
        "Student_Number" : "103",
        "Nama" : "Cika",
        "Subject" : "Programming Basic",
        "Grade" : 100
    },
    {
        "Student_Number" : "104",
        "Nama" : "Dedi",
        "Subject" : "Programming Basic",
        "Grade" : 100
    },
    {
        "Student_Number" : "105",
        "Nama" : "Eka",
        "Subject" : "Programming Basic",
        "Grade" : 50
    },
    {
        "Student_Number" : "106",
        "Nama" : "Feri",
        "Subject" : "Programming Basic",
        "Grade" : 40
    },
    {
        "Student_Number" : "107",
        "Nama" : "Galih",
        "Subject" : "Programming Basic",
        "Grade" : 70
    },
    {
        "Student_Number" : "108",
        "Nama" : "Huda",
        "Subject" : "Programming Basic",
        "Grade" : 70
    },
    {
        "Student_Number" : "109",
        "Nama" : "Intan",
        "Subject" : "Programming Basic",
        "Grade" : 60
    },
    {
        "Student_Number" : "101",
        "Nama" : "Andri",
        "Subject" : "Web Programming",
        "Grade" : 70
    },
    {
        "Student_Number" : "102",
        "Nama" : "Budi",
        "Subject" : "Web Programming",
        "Grade" : 80
    },
		{
        "Student_Number" : "103",
        "Nama" : "Cika",
        "Subject" : "Web Programming",
        "Grade" : 80
    },
		{
        "Student_Number" : "104",
        "Nama" : "Dedi",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
		{
        "Student_Number" : "105",
        "Nama" : "Eka",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
		{
        "Student_Number" : "106",
        "Nama" : "Feri",
        "Subject" : "Web Programming",
        "Grade" : 60
    },
		{
        "Student_Number" : "107",
        "Nama" : "Galih",
        "Subject" : "Web Programming",
        "Grade" : 95
    },{
        "Student_Number" : "108",
        "Nama" : "Huda",
        "Subject" : "Web Programming",
        "Grade" : 85
    },
		{
        "Student_Number" : "109",
        "Nama" : "Intan",
        "Subject" : "Web Programming",
        "Grade" : 90
    },
]

In [2]:
def Nilailebih80(Data_Nilai):
  result = [ ]

  for item in Data_Nilai:
    if item.get("Grade") > 80:
      result.append(item)

  return result

In [3]:
def printData(Data_Nilai):
  for item in Data_Nilai:
    print("==============================")
    print("Student Number :", item.get("Student_Number"))
    print("Student Number :", item.get("Nama"))
    print("Student Number :", item.get("Subject"))
    print("Grade :", item.get("Grade"))
    print("==============================")
    print("\n")

In [4]:
print("Data dengan nilai lebih dari 80\n")
printData(Nilailebih80(Data_Nilai))

Data dengan nilai lebih dari 80

==============================
Student Number : 102
Student Number : Budi
Student Number : Programming Basic
Grade : 90
==============================


==============================
Student Number : 103
Student Number : Cika
Student Number : Programming Basic
Grade : 100
==============================


==============================
Student Number : 104
Student Number : Dedi
Student Number : Programming Basic
Grade : 100
==============================


==============================
Student Number : 104
Student Number : Dedi
Student Number : Web Programming
Grade : 90
==============================


==============================
Student Number : 105
Student Number : Eka
Student Number : Web Programming
Grade : 90
==============================


==============================
Student Number : 107
Student Number : Galih
Student Number : Web Programming
Grade : 95
==============================


==============================
Student Number : 108
Student Number : Huda
Student Number : Web Programming
Grade : 85
==============================


==============================
Student Number : 109
Student Number : Intan
Student Number : Web Programming
Grade : 90
==============================